<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock Cafe</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">
                        <img src="https://www.shareicon.net/data/128x128/2015/09/21/644139_pin_512x512.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                        Stock Cafe
                    </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/stockCafe">Overview</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="/stockCafe/transactions">Transactions</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="/stockCafe/new">Add Transaction</a>
                      </li>
                    </ul>
                    <div class="navbar-nav ml-auto">
                      <% if(!currentUser) { %>
                        <a class='nav-link' href='/login'>Login</a>
                        <a class='nav-link' href='/register'>Register</a>
                      <% } else { %>
                        <a class='nav-link' href='/logout'>Logout</a>
                      <% } %>
                    </div>
                  </div>
                </div>
              </nav>
        </div>
        <%- include('../partials/flash') %>

    </div>