<%- include ("./partials/header") %>
    <div class="container">
        <% if (success === "false") { %>
            <div class="row">
                <% if (symbol === "invalid") { %>
                    <div class="alert alert-danger" role="alert">
                        Invalid Symbol
                    </div>
                <% } else if (action === "invalid" ) { %>
                    <div class="alert alert-danger" role="alert">
                        Invalid Action
                    </div>
                <% } %>    
            </div>
        <% } %>
        <div class="row">
            <form method="POST" action="/stockCafe">
                <div class="col">
                    <label for="symbol" class="form-label">Symbol</label>
                    <input type="text" class="form-control" name="symbol">
                </div>
                <div class="col">
                    <label for="action" class="form-label">Action</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="action" id="buy" value="buy" checked>
                        <label class="form-check-label" for="buy">Buy</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="action" id="sell" value="sell">
                        <label class="form-check-label" for="sell">Sell</label>
                    </div>
                </div>
                <div class="col">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" name="date">
                </div>
                <div class="col">
                    <label for="units" class="form-label">Units</label>
                    <input type="number" class="form-control" name="units">
                </div>
                <div class="col">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" name="price">
                </div>
                <div class="col mt-3">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>