<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock Cafe</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>
<body class="d-flex text-center text-white bg-light">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">
                    Stock Cafe
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/stockCafe">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/stockCafe/transactions">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/stockCafe/new">Add Transaction</a>
                        </li>
                    </ul>
                    <div class="navbar-nav ml-auto">
                        <% if(!currentUser) { %>
                            <a class='nav-link' href='/login'>Login</a>
                            <a class='nav-link' href='/register'>Register</a>
                        <% } else { %>
                            <a class='nav-link' href='/logout'>Logout</a>
                        <% } %>
                    </div>
                </div>
            </div>
          </nav>
        <main class="px-3">
            <h1>Stock Cafe</h1>
            <p class="lead"> Welcome to Stock Cafe! <br> My personal project to help me in my road to financial freedom.<br> Register <a href="/register" class='text-white'>here</a> to start your journey too. </p>
        </main>
    </div>

<%- include('../partials/footer') %>