<%- include ("../partials/header") %>
    <div class="container">
        <div class="row">
            <h1 class="h4 mb-3 mt-3">Add New Transaction</h1>
            <form method="POST" action="/stockCafe" class="validated-form needs-validation" novalidate>
                <div class="col">
                    <label for="symbol" class="form-label">Symbol</label>
                    <input type="text" class="form-control" name="symbol" required>
                </div>
                <div class="col">
                    <label for="action" class="form-label">Action</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="action" id="buy" value="buy" checked required>
                        <label class="form-check-label" for="buy">Buy</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="action" id="sell" value="sell" required>
                        <label class="form-check-label" for="sell">Sell</label>
                    </div>
                </div>
                <div class="col">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" name="date" required>
                </div>
                <div class="col">
                    <label for="units" class="form-label">Units</label>
                    <input type="number" class="form-control" name="units" required>
                </div>
                <div class="col">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" name="price" required>
                </div>
                <div class="col mt-3">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
<%- include ("../partials/footer.ejs") %>
